<div class="form-container">
  <mat-toolbar color="primary">{{action}} Customer</mat-toolbar>
  <form class="customer-form" [formGroup]="customerForm">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" [(ngModel)]="selectedCustomer.firstName" placeholder="First Name" required >
      <mat-error *ngIf="customerForm.controls['firstName'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Middle Name</mat-label>
      <input matInput formControlName="middleName" [(ngModel)]="selectedCustomer.middleName" placeholder="Middle Name" required >
      <mat-error *ngIf="customerForm.controls['middleName'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" [(ngModel)]="selectedCustomer.lastName" placeholder="Last Name" required >
      <mat-error *ngIf="customerForm.controls['lastName'].errors?.required">Invalid form value</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" [(ngModel)]="selectedCustomer.email" placeholder="Email" required >
      <mat-error *ngIf="customerForm.controls['email'].errors?.required">Invalid form value</mat-error>
      <mat-error *ngIf="customerForm.controls['email'].errors?.email">Please enter valid email address</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contact</mat-label>
      <input matInput formControlName="contact" [(ngModel)]="selectedCustomer.contact" placeholder="contact number" required >
      <mat-error *ngIf="customerForm.controls['contact'].errors?.required">Invalid form value</mat-error>
      <mat-error *ngIf="customerForm.controls['contact'].errors?.pattern">Please enter valid data</mat-error>
      <mat-error *ngIf="customerForm.controls['contact'].errors?.minLength">minimum length should be 8 characters</mat-error>
      <mat-error *ngIf="customerForm.controls['contact'].errors?.maxLength">maximum 15 characters allowed</mat-error>
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="customerForm.invalid">Save</button>
    <button mat-raised-button color="warn" (click)="onClose()">Close</button>
  </div>
</div>
